In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report
from sklearn.model_selection import train_test_split

In [2]:
red_wine = pd.read_csv(Path('Resources/Red.csv'))
red_wine.head()

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
0,Pomerol 2011,France,Pomerol,Château La Providence,4.2,100,95.00,2011
1,Lirac 2017,France,Lirac,Château Mont-Redon,4.3,100,15.50,2017
2,Erta e China Rosso di Toscana 2015,Italy,Toscana,Renzo Masi,3.9,100,7.45,2015
3,Bardolino 2019,Italy,Bardolino,Cavalchina,3.5,100,8.72,2019
4,Ried Scheibner Pinot Noir 2016,Austria,Carnuntum,Markowitsch,3.9,100,29.15,2016

In [3]:
for i in range(len(red_wine['Rating'])):
    if red_wine['Rating'][i] >= 4:
        red_wine.at[i,'Rating'] = 2
    elif red_wine['Rating'][i] <= 2:
        red_wine.at[i,'Rating'] = 0
    else:
        red_wine.at[i,'Rating'] = 1

In [4]:
red_wine.head(20)

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
0,Pomerol 2011,France,Pomerol,Château La Providence,2.0,100,95.00,2011
1,Lirac 2017,France,Lirac,Château Mont-Redon,2.0,100,15.50,2017
2,Erta e China Rosso di Toscana 2015,Italy,Toscana,Renzo Masi,1.0,100,7.45,2015
3,Bardolino 2019,Italy,Bardolino,Cavalchina,1.0,100,8.72,2019
4,Ried Scheibner Pinot Noir 2016,Austria,Carnuntum,Markowitsch,1.0,100,29.15,2016
5,Gigondas (Nobles Terrasses) 2017,France,Gigondas,Vieux Clocher,1.0,100,19.90,2017
6,Marion's Vineyard Pinot Noir 2016,New Zealand,Wairarapa,Schubert,2.0,100,43.87,2016
7,Red Blend 2014,Chile,Itata Valley,Viña La Causa,1.0,100,17.52,2014
8,Chianti 2015,Italy,Chianti,Castello Montaùto,1.0,100,10.75,2015
9,Tradition 2014,France,Minervois,Domaine des Aires Hautes,1.0,100,6.90,2014
10,Chianti Riserva 2013,Italy,Chianti,Poggiotondo,1.0,100,20.95,2013
11,Descendant 2016,Australia,Barossa,Torbreck,2.0,100,140.64,2016
12,Les Obriers de la Peira Terrasses du Larzac 2017,France,Terrasses du Larzac,La Pèira en Damaisèla,2.0,100,14.52,2017
13,Zenas Primitivo 2018,Italy,Puglia,La Bollina,1.0,100,9.26,2018
14,Cuvée Confidence Côtes du Rhône Rouge 2017,France,Côtes-du-Rhône,Domaine Fond Croze,1.0,100,8.49,2017
15,Shiraz 2018,Australia,South Eastern Australia,Barramundi,1.0,100,6.50,2018
16,Proprietor's Blend 2016,South Africa,Stellenbosch,Ernie Els,2.0,100,29.09,2016
17,La Bienquerida 2016,Spain,Bierzo,Losada,2.0,100,41.58,2016
18,Cabernet Sauvignon 2015,United States,California,Hacienda,1.0,100,7.95,2015
19,Fulgeo Negroamaro Salento 2016,Italy,Salento,San Donaci,2.0,100,12.90,2016

In [6]:
red_wine.value_counts("Rating")

Rating
1.0    5060
2.0    3606
dtype: int64

In [7]:
red_wine = red_wine[red_wine.Year != "N.V."]

In [8]:
red_wine.value_counts("Year")

Year
2016    1776
2017    1558
2015    1396
2018    1099
2014     798
2013     564
2012     371
2011     278
2010     174
2005     154
2019     116
2009      84
2008      80
2006      44
2007      43
2004      27
2000      19
1999      15
2001      12
2003      11
2002       7
1997       7
1998       6
1996       5
1995       4
1992       3
1989       2
1990       2
1993       1
1991       1
1988       1
dtype: int64

In [9]:
y = red_wine["Rating"]

X = red_wine.drop(columns=["Rating", "Name", "Country", "Region", "Winery"])

In [10]:
y.head()

0    2.0
1    2.0
2    1.0
3    1.0
4    1.0
Name: Rating, dtype: float64

In [12]:
X.head()

   NumberOfRatings  Price  Year
0              100  95.00  2011
1              100  15.50  2017
2              100   7.45  2015
3              100   8.72  2019
4              100  29.15  2016

In [13]:
y.value_counts()

1.0    5057
2.0    3601
Name: Rating, dtype: int64

In [14]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assigned a random_state of 1 to the function

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(6493, 3)

In [15]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                random_state=1)
classifier

# Fit the model using training data
classifier.fit(X_train, y_train)

LogisticRegression(random_state=1)

In [16]:
predictions = classifier.predict(X_test)

In [17]:
balanced_accuracy_score(y_test, predictions)

0.780272288098375

In [18]:
c_matrix = confusion_matrix(y_test, predictions)
print(c_matrix)

[[1142  123]
 [ 308  592]]